/*

CSS DRAWINGS s2018

* * * * * * * * * * * * * * * * * *

Full CSS Reset

http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
  ========================================
  Box model reset
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ========================================
  Grid
  ========================================
*/

.canvas {
    display: block;
    position: relative;
    background-color: rgb(240,240,240);
    border: solid 20px rgb(245,245,245);
    box-shadow: 15px 15px 25px rgba(230, 222, 159, 0.78);
    margin: 60px auto;
    padding: 20px;
    width: 900px;
    height: 600px;
}

/*
  ========================================
  General
  ========================================
*/

body{
    background-color: rgb(255, 248, 224);
}

/*
  ========================================
  Drawing One
  ========================================
*/

.skull{
    position: relative;
    top: 15%;
    left: 45%;
    
}
.head {
    top: 15%;
    position: absolute;
    background: black;
    border-radius: 100px 100px 0px 0px;
    width: 200px;
    height: 200px;
    z-index: 1;
}

.face {
    border-radius: 40px 40px 80px 80px;
    width: 180px;
    height: 180px;
    background: #FFE4C4;
    top: 30px;
    left: 10px;
    position: absolute;
}

.eyeleft {
    position: absolute;
    top: 70px;
    left: 50px;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 100%;
    z-index: 2;
}

.eyeright {
     position: absolute;
    top: 70px;
    right: 50px;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 100%;
    z-index: 2;
}

.smile {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 70px;
    top: 100px;
    border-radius: 0px 0px 30px 30px;
    background: red;
    z-index: 2;
    
}

.toothone {
    width: 10px;
    height: 10px;
    left: 5px;
    position: absolute;
    background: white;
    border-radius: 0%;
}

.toothtwo {
    width: 10px;
    height: 10px;
    right: 5px;
    position: absolute;
    background: white;
    border-radius: 0%;
}

.rightear {
    width: 200px;
    height: 300px;
    position: absolute;
    background: #FFEBCD;
    border-radius: 0px 110px 100px 0px;
    left: 150px;
    top: 40px;
    
}

.rightinner {
    width: 100px;
    height: 200px;
    position: absolute;
    background: #ffaf4d;
    border-radius: 0px 110px 100px 0px;
    left: 0px;
    top: 10px;
}

.leftear {
    width: 200px;
    height: 300px;
    position: absolute;
    background: #FFEBCD;
    border-radius: 110px 0px 0px 100px;
    right: 150px;
    top: 40px;
}

.leftinner {
    width: 100px;
    height: 200px;
    position: absolute;
    background: #ffaf4d;
    border-radius: 110px 0px 0px 100px;
    right: 0px;
    top: 10px;
}

/*
  ========================================
  Drawing Two
  ========================================
*/

.sea {
    width: 100%;
    height: 50%;
    position: absolute;
    background: #020079;
    top: 300px;
}

.sky {
    width: 100%;
    height: 50%;
    position: absolute;
    background: #92E2FD;
}

.girl {
    position: absolute;
}

.longhair {
    width: 100px;
    height: 250px;
    background: bisque;
    border-radius: 110px 100px 0px 100px;
    position: absolute;
    left: 400px;
    top: 100px;
}

.skirt {
    width: 150px;
    height: 150px;
    background: #4D5E7C;
    border-radius: 10px 10px 100px 0px;
    position: absolute;
    left: 370px;
    top: 330px;
}

.rightleg {
    position: absolute;
    width: 30px;
    height: 150px;
    background: tan;
    border-radius: 10px 10px 10px 10px;
    top: 380px;
    left: 470px;
}

.leftleg {
    position: absolute;
    width: 30px;
    height: 150px;
    background: tan;
    border-radius: 10px 10px 10px 10px;
    top: 380px;
    left: 400px;
}

.body {
    width: 140px;
    height: 150px;
    background: tan;
    border-radius: 10px 10px 0px 0px;
    position: absolute;
    left: 375px;
    top: 230px;
}

.cloudone {
    width: 30px;
    height: 30px;
    background: white;
    position: absolute;
    border-radius: 20px 20px 00px 0px;
    left: 40px;
    top: 120px;
}

.cloudtwo {
    width: 100px;
    height: 100px;
    background: white;
    position: absolute;
    border-radius: 80px 80px 0px 0px;
    left: 60px;
    top: 50px;
}
.cloudthree {
    width: 150px;
    height: 100px;
    background: white;
    position: absolute;
    border-radius: 80px 80px 0px 0px;
    left: 700px;
    top: 90px;
}

.cloudfour {
    width: 50px;
    height: 50px;
    background: white;
    position: absolute;
    border-radius: 80px 80px 0px 0px;
    left: 650px;
    top: 140px;
}

/*
  ========================================
  Drawing Three
  ========================================
*/

.coke {
    position: absolute;
    margin: auto;
}

.coketop {
    width: 50px;
    height: 15px;
    position: absolute;
    background: green;
    border-radius: 10px;
    left: 395px;
    top: 90px;
}

.cokeneck {
    width: 70px;
    height: 150px;
    position: absolute;
    background: #43271B;
    border-radius: 2000px 2000px 0px 0px;
    left: 385px;
    top: 100px;
}

.cokethicc {
    width: 170px;
    height: 200px;
    position: absolute;
    background: #43271B;
    border-radius: 190px 190px 90px 90px;
    left: 335px;
    top: 190px;
}

.cokebottom {
    width: 170px;
    height: 200px;
    position: absolute;
    background: #43271B;
    border-radius: 190px 190px 90px 90px;
    left: 335px;
    top: 300px;
}

.cokelabel {
    width: 170px;
    height: 50px;
    position: absolute;
    background: red;
    border-radius: 0px;
    left: 335px;
    top: 300px;
}

.bottleface {
    position: absolute;
    margin: auto;
}

.bottleeyeleft {
    width: 30px;
    height: 30px;
    background: white;
    position: absolute;
    border-radius: 20px 20px 20px 20px;
    left: 350px;
    top: 300px;
}

.bottleeyeright {
    width: 30px;
    height: 30px;
    background: white;
    position: absolute;
    border-radius: 20px 20px 20px 20px;
    left: 460px;
    top: 300px;
}

.bottlepupilleft {
    width: 10px;
    height: 10px;
    background: black;
    position: absolute;
    border-radius: 20px 20px 20px 20px;
    left: 360px;
    top: 320px;
}

.bottlepupilright {
    width: 10px;
    height: 10px;
    background: black;
    position: absolute;
    border-radius: 20px 20px 20px 20px;
    left: 470px;
    top: 320px;
}

.bottlemouth {
    width: 30px;
    height: 30px;
    background: black;
    position: absolute;
    border-radius: 20px 20px 20px 20px;
    left: 400px;
    top: 330px;
}

.bottletooth {
    width: 10px;
    height: 15px;
    background: white;
    position: absolute;
    border-radius: 0;
    left: 410px;
    top: 330px;
}

/*
  ========================================
  Drawing Four
  ========================================
*/

.robohead {
    position: absolute;
    width: 200px;
    height: 100px;
    background: grey;
    left: 300px;
    top: 100px;
}

.robolefteye {
    position: absolute;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 40px 40px 40px 40px;
    left: 300px;
    top: 100px;
}

.roborighteye {
    position: absolute;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 40px 40px 40px 40px;
    left: 460px;
    top: 100px;
}

.roboleftpupil {
    position: absolute;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 10px 10px 10px 10px;
    left: 320px;
    top: 110px;
}

.roborightpupil {
    position: absolute;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 10px 10px 10px 10px;
    left: 480px;
    top: 110px;
}

.robonose {
    position: absolute;
    width: 20px; 
    height: 20px;
    left: 400px;
    top: 130px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid green;
}

.robomouth {
    width: 50px;
    height: 20px;
    background: black;
    position: absolute;
    left: 380px;
    top: 170px;
}

.roboteeth {
    width: 45px;
    height: 4px;
    background: white;
    position: absolute;
    left: 385px;
    top: 180px;
}

.robobody {
    width: 400px;
    height: 400px;
    background: black;
    position: absolute;
    border-radius: 200px 200px 200px 200px;
    left: 200px;
    top: 150px;
}

.roboshirt {
    position: absolute;
    left: 300px;
    top: 200px;
    width: 0; 
    height: 0; 
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
  
    border-top: 100px solid white;
}

.robotie {
    width: 20px;
    height: 100px;
    background: black;
    position: absolute;
    left: 390px;
    top: 200px;
}

.roboleftarm {
    width: 60px;
    height: 200px;
    border-radius: 50px 50px 50px;
    background: grey;
    position: absolute;
    left: 190px;
    top: 250px;
}

.roborightarm {
    width: 60px;
    height: 200px;
    border-radius: 50px 50px 50px;
    background: grey;
    position: absolute;
    left: 550px;
    top: 250px;
}

.moneybag {
  position: absolute;
    left: 170px;
    top: 420px;
  width: 80px;
  height: 100px;
  border: none;
  border-radius: 50% / 60% 60% 40% 40%;
  background: tan;   
}

.money {
    font-family: "Helvetica";
    font-size: 50px;
    color: green;
    position: absolute;
    top: 460px;
    left: 200px;
}